ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTpvWklvQTY5UTh5aGNRVjhrYTNQYTNB@82.38.31.15:443?#%D8%AA%D8%A7%D8%B1%DB%8C%D8%AE%20%D8%A2%D9%BE%D8%AF%DB%8C%D8%AA%20%D9%87%D8%AC%D8%AF%D9%87%D9%85%20%D8%AE%D8%B1%D8%AF%D8%A7%D8%AF
vless://4b616b6f-6f6c-4e65-7773-b8e2c9f3d541@20.103.221.187:443?encryption=none&security=tls&sni=stunning-giggle-xr5xpv59554jfrq9-443.app.github.dev&insecure=0&allowInsecure=0&type=ws&path=%2F#%5B%F0%9F%87%B3%F0%9F%87%B1%5Dreza%20hooshmandi
vless://d4f43a39-b95b-4bc0-966f-81fc4c28fe11@5.75.196.174:8080?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.cloudflare.com&fp=chrome&pbk=qr9I7Hv2oZ2F0BiWgy9DmYHp0vcFEXcNRVHkyFg3OUw&sid=5e11ecc7d4&spx=%2Fnew&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca23.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B%F0%9F%87%AE%F0%9F%87%B9%5Dreza%20hooshmandi
vless://fc965ad9-bdd7-4815-ad71-b39ec5972dc1@188.114.97.6:443?encryption=none&security=tls&sni=octopusss4.com&fp=chrome&alpn=h3%2Ch2%2Chttp%2F1.1&insecure=0&allowInsecure=0&type=ws&host=octopusss4.com&path=%2Ftsghdws#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://749a5df1-2d12-45cf-80f3-f85ea6b2e405@144.31.217.99:443?encryption=none&flow=xtls-rprx-vision&security=reality&sni=google.com&fp=random&pbk=Fp0-VrMBeaQe9xOrehDYHt0mqTZL-5CdfuMEzoXkOE8&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://a1c30f35-e254-409c-89be-7754fed29ab0@87.107.193.3:8443?encryption=none&security=reality&sni=www.sanjesh.org&fp=chrome&pbk=XG7zu6GMH-maiYcacOIcbiDB9WwwNZLUmOkOp7nmcmw&sid=0f&spx=%2F&type=grpc&authority=&serviceName=client&mode=gun#%5B%F0%9F%87%AE%F0%9F%87%B7%5Dreza%20hooshmandi
vless://3f3bb5cc-da8b-4551-8b76-ba223f1a5255@18.192.50.101:443?encryption=none&security=none&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://a114c37e-515c-4d30-b910-c7f019146cc0@89.124.78.248:1310?encryption=none&security=none&type=ws&host=play.google.com&path=%2F%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia#%5B%F0%9F%87%B3%F0%9F%87%B1%5Dreza%20hooshmandi
vless://10484bee-8516-400a-9b1e-efb5144ad324@185.245.40.71:7443?encryption=none&flow=xtls-rprx-vision&security=reality&sni=stackoverflow.com&pbk=5QAO98ot2U7TcGs_f6EEaQjCzNOJLNHqPf6smYsdFVI&sid=d82fb387&type=tcp&headerType=none#%5B%F0%9F%87%B3%F0%9F%87%B1%5Dreza%20hooshmandi
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca16.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B%F0%9F%87%AE%F0%9F%87%B9%5Dreza%20hooshmandi
vless://4b616b6f-6f6c-4e65-7773-b8e2c9f3d541@20.103.221.187:443?encryption=none&security=tls&sni=stunning-giggle-xr5xpv59554jfrq9-443.app.github.dev&insecure=0&allowInsecure=0&type=ws&path=%2F#%5B%F0%9F%87%B3%F0%9F%87%B1%5Dreza%20hooshmandi
vless://a114c37e-515c-4d30-b910-c7f019146cc0@89.124.78.248:1310?encryption=none&security=none&type=ws&host=play.google.com&path=%2F%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia--%40v2raydia#%5B%F0%9F%87%B3%F0%9F%87%B1%5Dreza%20hooshmandi
vless://0c61d46d-4c4d-421b-b0fb-d211415da368@52.14.47.44:443?encryption=none&security=none&type=tcp&headerType=none#%5B%F0%9F%8F%81%5Dreza%20hooshmandi
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca21.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B%F0%9F%87%AE%F0%9F%87%B9%5Dreza%20hooshmandi
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@151.115.166.233:8880?encryption=none&security=none&type=grpc#%5B%20%F0%9F%87%AE%F0%9F%87%B9%20%5D%20%5B%20Italy%2C%20Milan%20%5D%20%5B%20by%20%40openlibrecommunity%20%5D
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca11.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B%20%F0%9F%8C%90%20%5D%20%5B%20Unknown%20%5D%20%5B%20by%20%40openlibrecommunity%20%5D
ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTpvWklvQTY5UTh5aGNRVjhrYTNQYTNB@82.38.31.15:443?#%D8%B9%D8%B6%D9%88%20%DA%A9%D8%A7%D9%86%D8%A7%D9%84%20%D8%B4%D9%88%DB%8C%D8%AF%20%40reza%20hooshmandi%20-32%20%F0%9F%87%B3%F0%9F%87%B1
ss://Y2hhY2hhMjAtaWV0Zi1wb2x5MTMwNTpvWklvQTY5UTh5aGNRVjhrYTNQYTNB@82.38.31.35:8080?#%40hi_proxy_iran
vless://47f2f901-8f10-437d-871e-48f1d6550cf5@45.12.30.95:2086?encryption=none&security=none&type=httpupgrade&host=beh4.salonemojallal.ir&path=%2F#filembad-188
trojan://humanity@43.169.18.179:443?security=tls&sni=www.creationlong.org&insecure=0&allowInsecure=0&type=ws&host=www.creationlong.org&path=%2Fassignment#%D8%B9%D8%B6%D9%88%20%DA%A9%D8%A7%D9%86%D8%A7%D9%84%20%D8%B4%D9%88%DB%8C%D8%AF%20%40reza%20hooshmandi%20-96%20%F0%9F%87%B5%F0%9F%87%B1
vless://47f2f901-8f10-437d-871e-48f1d6550cf5@45.12.30.95:2086?encryption=none&security=none&type=httpupgrade&host=beh4.salonemojallal.ir&path=%2F#filembad-187
ss://MjAyMi1ibGFrZTMtYWVzLTI1Ni1nY206ZHlMK0txWDhoSU1uK1V5QUR3U0pPUG03MkEwQTgzVHNET0ZYQm42STJtQT0@49.13.3.249:23997?#%D8%B9%D8%B6%D9%88%20%DA%A9%D8%A7%D9%86%D8%A7%D9%84%20%D8%B4%D9%88%DB%8C%D8%AF%20%40reza%20hooshmandi%20-50%20%F0%9F%87%A9%F0%9F%87%AA
vless://0c61d46d-4c4d-421b-b0fb-d211415da368@52.14.47.44:443?encryption=none&security=none&type=tcp&headerType=none#%D8%B9%D8%B6%D9%88%20%DA%A9%D8%A7%D9%86%D8%A7%D9%84%20%D8%B4%D9%88%DB%8C%D8%AF%20%40reza%20hooshmandi%20-20%20%F0%9F%87%BA%F0%9F%87%B8
vmess://ew0KICAidiI6ICIyIiwNCiAgInBzIjogIti52LbZiCDaqdin2YbYp9mEINi02YjbjNivIEBTaGFkb3dQcm94eTY2IC0xMzkiLA0KICAiYWRkIjogIjE3Mi4yMzMuMTcuNzYiLA0KICAicG9ydCI6ICIyMjMyNCIsDQogICJpZCI6ICIwNDYyMWJhZS1hYjM2LTExZWMtYjkwOS0wMjQyYWMxMjAwMDIiLA0KICAiYWlkIjogIjAiLA0KICAic2N5IjogImF1dG8iLA0KICAibmV0IjogInRjcCIsDQogICJ0eXBlIjogIm5vbmUiLA0KICAiaG9zdCI6ICIiLA0KICAicGF0aCI6ICIiLA0KICAidGxzIjogIiIsDQogICJzbmkiOiAiIiwNCiAgImFscG4iOiAiIiwNCiAgImZwIjogIiIsDQogICJpbnNlY3VyZSI6ICIwIg0KfQ==
vless://91c66bab-b911-45f9-bc6b-d9bf7aecca91@snapp.ir:80?encryption=none&security=none&type=ws&host=kabotar.garfar.ir&path=%2F#%F0%9F%87%AE%F0%9F%87%B7IR-%F0%9F%9A%80%40VPNine1
vmess://ew0KICAidiI6ICIyIiwNCiAgInBzIjogIti52LbZiCDaqdin2YbYp9mEINi02YjbjNivIEBTaGFkb3dQcm94eTY2IC0xMTQgXHVEODNDXHVEREYyXHVEODNDXHVEREZFIiwNCiAgImFkZCI6ICI0Ny4yNTAuMTQ5LjUxIiwNCiAgInBvcnQiOiAiNTAwMTgiLA0KICAiaWQiOiAiOTY2NTI4MGMtYTNkMS00YWFiLWVmOWYtYTNhNDk3MzM3ZDkxIiwNCiAgImFpZCI6ICIwIiwNCiAgInNjeSI6ICJhdXRvIiwNCiAgIm5ldCI6ICJ3cyIsDQogICJ0eXBlIjogIm5vbmUiLA0KICAiaG9zdCI6ICIiLA0KICAicGF0aCI6ICIvOTY2NTI4MGMiLA0KICAidGxzIjogIiIsDQogICJzbmkiOiAiIiwNCiAgImFscG4iOiAiIiwNCiAgImZwIjogIiIsDQogICJpbnNlY3VyZSI6ICIwIg0KfQ==
vless://0c61d46d-4c4d-421b-b0fb-d211415da368@52.14.47.44:443?encryption=none&security=none&type=tcp&headerType=none#%40hi_proxy_iran
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca15.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B%20%F0%9F%8C%90%20%5D%20%5B%20Unknown%20%5D%20%5B%20by%20%40openlibrecommunity%20%5D
vless://85dca508-15cc-43fc-8c35-8bc87c8a7858@fast.postshup.ir:8880?encryption=none&security=none&type=httpupgrade&host=cdn-pro3.postshup.ir&path=%2F%3Fed%3D2082#filembad-252
vless://a253ff3f-fb8d-4160-85e8-61b080f0f561@188.114.97.6:443?encryption=none&security=tls&sni=dfsuporte.garena.com.ex33r.eu.cc&insecure=0&allowInsecure=0&type=ws&host=dfsuporte.garena.com.ex33r.eu.cc&path=%2Fmy-mbv#%D8%B9%D8%B6%D9%88%20%DA%A9%D8%A7%D9%86%D8%A7%D9%84%20%D8%B4%D9%88%DB%8C%D8%AF%20%40reza%20hooshmandi%20-150
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca31.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B%20%F0%9F%8C%90%20%5D%20%5B%20Unknown%20%5D%20%5B%20by%20%40openlibrecommunity%20%5D
vless://fc965ad9-bdd7-4815-ad71-b39ec5972dc1@185.18.250.245:443?encryption=none&security=tls&sni=octopusss4.com&fp=chrome&insecure=0&allowInsecure=0&type=ws&host=octopusss4.com&path=%2Ftsghdws#%40best_internet_iran%3A%3A%F0%9F%87%AB%F0%9F%87%AE
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@151.115.167.188:8880?encryption=none&security=none&type=grpc#%F0%9F%91%89%F0%9F%86%94%40v2ray_configs_pool%F0%9F%93%A1%F0%9F%87%AE%F0%9F%87%B9%C2%AE%EF%B8%8FItaly%C2%A9%EF%B8%8FMilan%F0%9F%85%BF%EF%B8%8Fping%3A41.41ms
vless://1043634e-8d9d-4736-83fa-f14ddc9d464c@188.114.97.6:443?encryption=none&security=tls&sni=dfsuporte.garena.com.ex33r.eu.cc&insecure=0&allowInsecure=0&type=ws&host=dfsuporte.garena.com.ex33r.eu.cc&path=%2Fid-amz#%D8%B9%D8%B6%D9%88%20%DA%A9%D8%A7%D9%86%D8%A7%D9%84%20%D8%B4%D9%88%DB%8C%D8%AF%20%40reza%20hooshmandi%20-148
vless://77777777-8a3e-6666-b6d1-a9c5f0e8b3a2@104.19.215.97:443?encryption=none&security=tls&sni=fgnix832fx.fx6hsv0.ccwu.cc&insecure=0&allowInsecure=0&type=ws&host=fgnix832fx.fx6hsv0.ccwu.cc&path=%2F#%5B%20%F0%9F%87%A8%F0%9F%87%A6%20%5D%20%5B%20Canada%2C%20Toronto%20%5D%20%5B%20by%20%40openlibrecommunity%20%5D
vless://0799a47d-d446-4a20-8e75-441fa899fbb1@104.16.72.70:443?encryption=none&security=tls&sni=unnes.ac.id.r3xxe.eu.cc&insecure=0&allowInsecure=0&type=ws&host=unnes.ac.id.r3xxe.eu.cc&path=%2Fid-pusat#CF%E4%B8%AD%E8%BD%AC_0607197772%20t.me%2Frjsxrd
vless://08b006dc-17e4-411d-9528-4369d72ad646@104.18.152.233:443?encryption=none&security=tls&sni=support.zoom.us.ex33r.eu.cc&insecure=0&allowInsecure=0&type=ws&host=support.zoom.us.ex33r.eu.cc&path=%2Fsg-melbi#CF%E4%B8%AD%E8%BD%AC_0607195169%20t.me%2Frjsxrd
vless://7c6ddba8-c08e-433c-b1ac-697378b48406@13.38.79.180:30981?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.intel.com&fp=firefox&pbk=uBRg0H4ZzEiyyAm1BEsZsnTlzWTm8UUaFrD9aXzUCyE&sid=e871f1c5cc5309&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AB%F0%9F%87%B7%20%20France%20%20%5B05%5D%20%20MIFA%20t.me%2Frjsxrd
vless://b8ab1937-611c-4734-b01c-ff3818edf635@188.114.97.6:443?encryption=none&security=tls&sni=m.udemy.com.ex33r.eu.cc&insecure=0&allowInsecure=0&type=ws&host=m.udemy.com.ex33r.eu.cc&path=%2Fid-amz#CF%E4%B8%AD%E8%BD%AC_0607194385%20t.me%2Frjsxrd
vless://03bc875d-0d8e-49b6-9094-89a8159e65ee@91.107.191.12:29376?encryption=none&security=none&type=tcp&headerType=none#%5B113ms%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F%20DE%20%F0%9F%87%A9%F0%9F%87%AA%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://805aec0a-32db-4eaa-8b5e-10a6651471d1@18.195.94.102:443?encryption=none&security=none&type=tcp&headerType=none#%5B89ms%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F%20DE%20%F0%9F%87%A9%F0%9F%87%AA%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://41e37e0d-797b-4f82-be7c-52fe2e453dcc@188.114.97.6:443?encryption=none&security=tls&sni=639164282079897555.corolla-perma.info&fp=chrome&insecure=0&allowInsecure=0&type=ws&host=639164282079897555.corolla-perma.info&path=%2Ferptajws#CF%E4%B8%AD%E8%BD%AC_0607198573%20t.me%2Frjsxrd
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca19.myfymain.com:8880?encryption=none&security=none&type=grpc#0534%20%7C%20%F0%9F%8C%90%20Unknown%20%7C%20WL%20%7C%20%40RaViraNet%20t.me%2Frjsxrd
vless://03bc875d-0d8e-49b6-9094-89a8159e65ee@91.107.191.12:29376?encryption=none&security=none&type=tcp&headerType=none#%5B95ms%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F%20DE%20%F0%9F%87%A9%F0%9F%87%AA%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://1043634e-8d9d-4736-83fa-f14ddc9d464c@188.114.97.6:443?encryption=none&security=tls&sni=dfsuporte.garena.com.ex33r.eu.cc&insecure=0&allowInsecure=0&type=ws&host=dfsuporte.garena.com.ex33r.eu.cc&path=%2Fid-amz#CF%E4%B8%AD%E8%BD%AC_0607198560%20t.me%2Frjsxrd
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca26.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B100ms%20%D0%98%D1%82%D0%B0%D0%BB%D0%B8%D1%8F%20IT%20%F0%9F%87%AE%F0%9F%87%B9%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://c7addea9-6d8a-48d6-8a00-aa99b8ece143@188.114.97.6:443?encryption=none&security=tls&sni=ws35.adsvxpro.com&fp=firefox&insecure=0&allowInsecure=0&type=ws&host=ws35.adsvxpro.com&path=%2Fpath#CF%E4%B8%AD%E8%BD%AC_0607197991%20t.me%2Frjsxrd
vless://0cd73f04-4e6c-413e-bad8-36e214e8b55a@188.114.97.6:443?encryption=none&security=tls&sni=ma16c.hamiibar.com&insecure=0&allowInsecure=0&type=ws&host=ma16c.hamiibar.com&path=%2Fwhimsbws#CF%E4%B8%AD%E8%BD%AC_0607198575%20t.me%2Frjsxrd
vless://03bc875d-0d8e-49b6-9094-89a8159e65ee@91.107.191.12:29376?encryption=none&security=none&type=tcp&headerType=none#%5B98ms%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F%20DE%20%F0%9F%87%A9%F0%9F%87%AA%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@151.115.167.1:8880?encryption=none&security=none&type=grpc#%5B101ms%20%D0%98%D1%82%D0%B0%D0%BB%D0%B8%D1%8F%20IT%20%F0%9F%87%AE%F0%9F%87%B9%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://f90099ab-bbb9-4d68-824b-edca0ea32cf1@82.29.128.252:443?encryption=none&security=reality&sni=www.amd.com&fp=edge&pbk=FoCmMBurpqNaVQWlRvyuS1um0ftKxXMnnKNbnHpe-G8&type=xhttp&path=%2F&mode=auto#%E8%8B%B1%E5%9B%BD_060719837%20t.me%2Frjsxrd
vless://7b7619ef-3015-45e4-a1c0-5672f81b864c@158.160.252.95:443?encryption=none&flow=xtls-rprx-vision&security=reality&sni=ya.ru&fp=qq&pbk=G6ekEx_2qJMHo-DzjF7ww8UPbPiVSd8A6LY5yn-i3XU&sid=83915e401341&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AA%F0%9F%87%AA%20Estonia%20%E2%80%94%20%23101%20t.me%2Frjsxrd
trojan://rXyShM8Jni%2B5Sbq3k4gkyr5Lq0zOMRL2Uf@45.79.8.17:443?security=tls&sni=45.79.8.17&insecure=0&allowInsecure=0&type=tcp&headerType=none#%5B88ms%20US%20US%20%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://f232a803-ff05-4219-b16f-b4dc8497b938@54.151.254.107:46799?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.tesla.com&fp=firefox&pbk=inxRtKQbaiuz18TGXqdYu0dyO_RplIhR7MDZ6rL42UA&sid=af0d579034a74916&spx=%2F&type=tcp&headerType=none#%F0%9F%87%B8%F0%9F%87%AC%20%20Singapore%20%20%5B08%5D%20%20MIFA%20t.me%2Frjsxrd
vless://4889ee33-74e5-4819-86d8-b2a1a5bc8f46@34.213.172.16:22189?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.tesla.com&fp=firefox&pbk=5tUZskKOCKpjz3j7hmuYaQHNfE1QRtZI9P62qvSs1GY&sid=47b6d14ff477fe59&spx=%2F&type=tcp&headerType=none#%F0%9F%87%BA%F0%9F%87%B8%20%20USA%20%20%5B15%5D%20%20MIFA%20t.me%2Frjsxrd
vless://2c36bf33-1ec0-45e8-84af-84eeccd56ca5@45.152.67.34:47488?encryption=none&security=none&type=tcp&headerType=none#%5B217ms%20%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%BE%D0%B1%D1%80%D0%B8%D1%82%D0%B0%D0%BD%D0%B8%D1%8F%20GB%20%F0%9F%87%AC%F0%9F%87%A7%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://982ea8d2-d430-4e19-a12c-f69f2e3047a2@47.129.152.131:23123?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.nvidia.com&fp=firefox&pbk=RMDp_xrYjgNV5VATfzCgADH32U4k_jISDCBw7G97x04&sid=f9f213fbc392&spx=%2F&type=tcp&headerType=none#%F0%9F%87%B8%F0%9F%87%AC%20%20Singapore%20%20%5B10%5D%20%20MIFA%20t.me%2Frjsxrd
vless://ba6c3fe7-19ba-4346-8ae3-41d6a2065f19@47.131.12.238:59597?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.tesla.com&fp=firefox&pbk=pAg7gxX-dDZ68kwy3mEj9vyDrieu-kTvIAhxSRMJQ1w&sid=be3e57dff1279a7d&spx=%2F&type=tcp&headerType=none#%F0%9F%87%B8%F0%9F%87%AC%20%20Singapore%20%20%5B07%5D%20%20MIFA%20t.me%2Frjsxrd
vless://3fd28704-112e-4451-8c5f-d6657f8ecf44@54.169.248.107:29746?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.intel.com&fp=firefox&pbk=s1u_Iy1x_b1Ph9Tp3a7xdekHcbcqGy7VA4BpQtJ-mE0&sid=86c4bf418676a6e2&spx=%2F&type=tcp&headerType=none#%F0%9F%87%B8%F0%9F%87%AC%20%20Singapore%20%20%5B12%5D%20%20MIFA%20t.me%2Frjsxrd
vless://452da0f8-3034-4e5d-9e7f-9c3f58abb8ff@122.248.202.201:45075?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.tesla.com&fp=firefox&pbk=l6Z-68Q2EJ8nZ5mzWSAB53lp1-_nOHwV2Z18y3DT7xQ&sid=7185b14179922a5c&spx=%2F&type=tcp&headerType=none#%F0%9F%87%B8%F0%9F%87%AC%20%20Singapore%20%20%5B03%5D%20%20MIFA%20t.me%2Frjsxrd
vless://44435e73-d842-4af8-a9d7-6fea8d9e61f3@13.250.120.124:42634?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.tesla.com&fp=firefox&pbk=baLjIwDgeP8uy6F979kj_7u11UXgFviEzGJyoEwkTGQ&sid=bcd004adaf7e5dc6&spx=%2F&type=tcp&headerType=none#%F0%9F%87%B8%F0%9F%87%AC%20%20Singapore%20%20%5B06%5D%20%20MIFA%20t.me%2Frjsxrd
vless://7b7619ef-3015-45e4-a1c0-5672f81b864c@62.84.112.113:443?encryption=none&flow=xtls-rprx-vision&security=reality&sni=ya.ru&fp=qq&pbk=RJsLWisvBs-NayKhcJ4sJ111Eoh6mpBX0pgvBR4f4EU&sid=9e6e0631f73cad02&type=tcp&headerType=none#%F0%9F%87%B3%F0%9F%87%B1%20The%20Netherlands%20%E2%80%94%20%23274%20t.me%2Frjsxrd
vless://f8e32ccb-7e0b-4966-837a-2a9503bc3d82@64.49.45.57:15540?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.intel.com&fp=firefox&pbk=Yg0SBHkbrgAxsRKnsNXn4SStVURNYMiPor2oMSRTblA&sid=3a81ee2c998d0e&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AD%F0%9F%87%B0%20%20Hong%20Kong%20%20%5B02%5D%20%20MIFA%20t.me%2Frjsxrd
vless://aa24026d-9542-4357-8625-3f04653fc4bd@57.181.38.2:59826?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.nvidia.com&fp=firefox&pbk=H-Ule2FFFI4MFSowspFPAC5SYb_gW9IE0isIZY8Ix3w&sid=2c35f2ac05bf15a0&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AF%F0%9F%87%B5%20%20Japan%20%20%5B09%5D%20%20MIFA%20t.me%2Frjsxrd
vless://08b006dc-17e4-411d-9528-4369d72ad646@104.18.152.233:443?encryption=none&security=tls&sni=support.zoom.us.ex33r.eu.cc&fp=chrome&insecure=0&allowInsecure=0&type=ws&host=support.zoom.us.ex33r.eu.cc&path=%2Fsg-melbi#0113%20%7C%20%F0%9F%8C%90%20Unknown%20%7C%20WL%20%7C%20%40RaViraNet%20t.me%2Frjsxrd
vless://c8a930cb-7a41-403f-922a-0b2148a75e05@57.180.22.236:12524?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.intel.com&fp=firefox&pbk=snK07S_XyboGtyPOcmLFn4aNuxaRwHBG8w8JH2K0RS4&sid=2895e9532d0c&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AF%F0%9F%87%B5%20%20Japan%20%20%5B12%5D%20%20MIFA%20t.me%2Frjsxrd
vless://03bc875d-0d8e-49b6-9094-89a8159e65ee@91.107.191.12:29376?encryption=none&security=none&type=tcp&headerType=none&path=%2F#0078%20%7C%20%F0%9F%8C%90%20Unknown%20%7C%20WL%20%7C%20%40RaViraNet%20t.me%2Frjsxrd
vless://c6508e59-dd68-4dc0-b14f-3192e84ef843@13.231.185.74:47381?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.yahoo.com&fp=firefox&pbk=kiMGo34R7wN3bHFbY_6MqIHePd7rlnOkxGCt-Ek1Ej0&sid=67e2075367998314&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AF%F0%9F%87%B5%20%20Japan%20%20%5B02%5D%20%20MIFA%20t.me%2Frjsxrd
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@151.115.164.129:8880?encryption=none&security=none&type=grpc#%5B93ms%20%D0%98%D1%82%D0%B0%D0%BB%D0%B8%D1%8F%20IT%20%F0%9F%87%AE%F0%9F%87%B9%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://a321980f-54ce-432a-862a-76035b9d78ad@141.193.213.10:443?encryption=none&security=tls&sni=m.udemy.com.r3xxe.eu.cc&insecure=0&allowInsecure=0&type=ws&host=m.udemy.com.r3xxe.eu.cc&path=%2Fnl-tw#%E7%BE%8E%E5%9B%BD_0607191172%20t.me%2Frjsxrd
vless://977b814d-d9e0-4889-bb71-98d6bfb8f462@141.193.213.10:443?encryption=none&security=tls&sni=partner.catchplay.com.r3xxe.eu.cc&insecure=0&allowInsecure=0&type=ws&host=partner.catchplay.com.r3xxe.eu.cc&path=%2Fsg-amz#%E7%BE%8E%E5%9B%BD_0607192327%20t.me%2Frjsxrd
vless://03bc875d-0d8e-49b6-9094-89a8159e65ee@91.107.191.12:29376?encryption=none&security=none&type=tcp&headerType=none&path=%2F#%5B124ms%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F%20DE%20%F0%9F%87%A9%F0%9F%87%AA%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://78d9f9d6-f85a-4d39-9a1e-897b8e2cdf7a@13.54.156.73:45565?encryption=none&flow=xtls-rprx-vision&security=reality&sni=yahoo.com&fp=firefox&pbk=zSlB0DPQHirXQtTzH6vCMDDl2ccUKPtDXFQFDpB-T0A&sid=d24a5d31e3a6dc91&spx=%2F&type=tcp&headerType=none#%F0%9F%87%A6%F0%9F%87%BA%20%20Australia%20%20%5B01%5D%20%20MIFA%20t.me%2Frjsxrd
vless://6dff2a23-1dd9-4f49-a3c4-513d8aafe6fd@18.182.5.192:44510?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.intel.com&fp=firefox&pbk=futfN55FQKTJr_maX3BJncfxFnYQr-ShlBO3wkEuvC4&sid=4c0067a58778530b&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AF%F0%9F%87%B5%20%20Japan%20%20%5B06%5D%20%20MIFA%20t.me%2Frjsxrd
vless://777d639d-48b7-4070-9215-48191a8edc4c@16.176.222.48:53887?encryption=none&flow=xtls-rprx-vision&security=reality&sni=yahoo.com&fp=firefox&pbk=U8LtEUIKwyRlOQnuyXwaOHW540WuYC2SFHY8VvER3Wk&sid=d7e4c1b7cd86e462&spx=%2F&type=tcp&headerType=none#%F0%9F%87%A6%F0%9F%87%BA%20%20Australia%20%20%5B04%5D%20%20MIFA%20t.me%2Frjsxrd
vless://e35adc70-2a7c-4fa1-a1d7-0985e4a61ec4@54.206.20.169:53243?encryption=none&flow=xtls-rprx-vision&security=reality&sni=yahoo.com&fp=firefox&pbk=O8FHPgiBtzIMlHnvii6zNL89wvqJ8DGh1ZfPWiMAeyk&sid=663490516c1639c1&spx=%2F&type=tcp&headerType=none#%F0%9F%87%A6%F0%9F%87%BA%20%20Australia%20%20%5B05%5D%20%20MIFA%20t.me%2Frjsxrd
vless://bf45d77d-59f7-4034-b10b-9c6c99cb9fbb@3.107.205.213:41876?encryption=none&flow=xtls-rprx-vision&security=reality&sni=yahoo.com&fp=firefox&pbk=31olEIZTZkGDqOu6Ztle3r2rGVRYS1dtxDl_WO597SE&sid=a004f8507696d9c4&spx=%2F&type=tcp&headerType=none#%F0%9F%87%A6%F0%9F%87%BA%20%20Australia%20%20%5B03%5D%20%20MIFA%20t.me%2Frjsxrd
vless://a5ac4482-917b-4739-b199-2602b0d685c1@3.112.4.195:26658?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.sony.com&fp=firefox&pbk=gkC4bB22x9sMejCl1W4CtDLgC9I-4OsSnFRLIgG1Vy8&sid=195a9d288a47ce46&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AF%F0%9F%87%B5%20%20Japan%20%20%5B05%5D%20%20MIFA%20t.me%2Frjsxrd
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca29.myfymain.com:8880?encryption=none&security=none&type=grpc#0096%20%7C%20%F0%9F%8C%90%20Unknown%20%7C%20WL%20%7C%20%40RaViraNet%20t.me%2Frjsxrd
trojan://humanity@212.183.88.136:443?security=tls&sni=www.calmlunch.com&insecure=0&allowInsecure=0&type=ws&host=www.calmlunch.com&path=%2Fassignment#%F0%9F%87%AB%F0%9F%87%B7%20France%20%5B%2ACIDR%5D%20t.me%2Frjsxrd
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@151.115.164.43:8880?encryption=none&security=none&type=grpc#%5B93ms%20%D0%98%D1%82%D0%B0%D0%BB%D0%B8%D1%8F%20IT%20%F0%9F%87%AE%F0%9F%87%B9%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://03bc875d-0d8e-49b6-9094-89a8159e65ee@91.107.191.12:29376?encryption=none&security=none&type=tcp&headerType=none#%5B96ms%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F%20DE%20%F0%9F%87%A9%F0%9F%87%AA%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://649dcb36-db0c-41b0-ad50-26ec755bee55@16.176.5.2:58981?encryption=none&flow=xtls-rprx-vision&security=reality&sni=yahoo.com&fp=firefox&pbk=4pGooKDmjXPxY0u7IJoYAfj6fw2sf6Tbhi_tW0n34zw&sid=4333dc36&spx=%2F&type=tcp&headerType=none#%F0%9F%87%A6%F0%9F%87%BA%20%20Australia%20%20%5B02%5D%20%20MIFA%20t.me%2Frjsxrd
vless://10484bee-8516-400a-9b1e-efb5144ad324@45.67.139.54:7443?encryption=none&flow=xtls-rprx-vision&security=reality&sni=ya.ru&fp=qq&pbk=5QAO98ot2U7TcGs_f6EEaQjCzNOJLNHqPf6smYsdFVI&type=tcp&headerType=none#%F0%9F%87%AB%F0%9F%87%B7%20France%20%7C%20%F0%9F%8C%90%20%5BSNI-RU%5D%20ya.ru%20t.me%2Frjsxrd
vless://03bc875d-0d8e-49b6-9094-89a8159e65ee@91.107.191.12:29376?encryption=none&security=none&type=tcp&headerType=none&path=%2F#%5B124ms%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F%20DE%20%F0%9F%87%A9%F0%9F%87%AA%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://03bc875d-0d8e-49b6-9094-89a8159e65ee@91.107.191.12:29376?encryption=none&security=none&type=tcp&headerType=none#%5B150ms%20%D0%93%D0%B5%D1%80%D0%BC%D0%B0%D0%BD%D0%B8%D1%8F%20DE%20%F0%9F%87%A9%F0%9F%87%AA%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://0c61d46d-4c4d-421b-b0fb-d211415da368@52.14.47.44:443?encryption=none&security=none&type=tcp&headerType=none#%5B18ms%20US%20US%20%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://52a8ef22-2670-4119-8623-98c0baa7ae74@34.222.27.94:42824?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.nvidia.com&fp=firefox&pbk=dgRCtQunFv3gRWN29nDbzyGVzXTWuMUa0bvWZxq0B3o&sid=66a5ca7fd2bca7da&spx=%2F&type=tcp&headerType=none#%F0%9F%87%BA%F0%9F%87%B8%20%20USA%20%20%5B20%5D%20%20MIFA%20t.me%2Frjsxrd
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@151.115.167.174:8880?encryption=none&security=none&type=grpc#%5B92ms%20%D0%98%D1%82%D0%B0%D0%BB%D0%B8%D1%8F%20IT%20%F0%9F%87%AE%F0%9F%87%B9%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://2a222b39-411e-4d6d-800a-5d067199b6ec@13.212.10.113:51182?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.tesla.com&fp=firefox&pbk=7MC_kyGYEV7nG0zqKnfwUmvXsoA0fGG4g4chkqqSRGI&sid=5ac35e1cd8ce6720&spx=%2F&type=tcp&headerType=none#%F0%9F%87%B8%F0%9F%87%AC%20%20Singapore%20%20%5B05%5D%20%20MIFA%20t.me%2Frjsxrd
vless://0c61d46d-4c4d-421b-b0fb-d211415da368@52.14.47.44:443?encryption=none&security=none&type=tcp&headerType=none#%5B18ms%20US%20US%20%20%40vlesstrojan%5D%20t.me%2Frjsxrd
vless://22f1726b-0a24-414b-8901-3c1d053c1adb@13.115.231.90:37478?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.tesla.com&fp=firefox&pbk=gwRoOSyzoJalrmAP6BWUUC1s7jfqBRS9LhIrYvibFlg&sid=cc0b9c5e3dde06&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AF%F0%9F%87%B5%20%20Japan%20%20%5B04%5D%20%20MIFA%20t.me%2Frjsxrd
vless://0a01fb0f-2b20-4088-84f6-4d742f1a3e10@13.230.213.47:45806?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.icloud.com&fp=firefox&pbk=ozEwz1xKr9vt3JBHQ1tCKfGUaIljDDusEnQ-dipGUi8&sid=3e3ee7480d82&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AF%F0%9F%87%B5%20%20Japan%20%20%5B08%5D%20%20MIFA%20t.me%2Frjsxrd
vless://347a56c2-a453-4b32-86cd-7522943df88c@103.119.19.201:2087?encryption=none&flow=xtls-rprx-vision&security=reality&sni=api-maps.yandex.ru&fp=qq&pbk=vZuBWF0YzlKI0fJWxU6hmOLHHQ5Qb1kf35HbZDcFCH4&sid=493c3d4e37c23c28&type=tcp&headerType=none#%20t.me%2Frjsxrd
vless://f032fd94-715d-4d37-835f-13959a63df14@18.183.94.154:39611?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.icloud.com&fp=firefox&pbk=bffq0wpw2vUOczXypqTqoXzYEzwXAZQzhOut1fvFyWQ&sid=d7627055cafc62&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AF%F0%9F%87%B5%20%20Japan%20%20%5B10%5D%20%20MIFA%20t.me%2Frjsxrd
vless://9cb72288-da5a-40a4-b856-4557f9849016@3.112.19.64:26902?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.icloud.com&fp=firefox&pbk=5CqD0ZEtt5W_xA9adU4CxjH4xAV-BdCwhDuthBBnpFM&sid=450d60a09ffb65&spx=%2F&type=tcp&headerType=none#%F0%9F%87%AF%F0%9F%87%B5%20%20Japan%20%20%5B11%5D%20%20MIFA%20t.me%2Frjsxrd
vless://3ccf9767-6648-4efa-b13c-1cdef021c371@5.75.196.174:8080?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.cloudflare.com&fp=chrome&pbk=qr9I7Hv2oZ2F0BiWgy9DmYHp0vcFEXcNRVHkyFg3OUw&sid=8fa9&spx=%2FahUXOMz6VtL0iNm&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://3ccf9767-6648-4efa-b13c-1cdef021c371@5.75.196.174:443?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.cloudflare.com&fp=chrome&pbk=qr9I7Hv2oZ2F0BiWgy9DmYHp0vcFEXcNRVHkyFg3OUw&sid=1e012324864f4510&spx=%2Fo5jPxkupmgmbjQ4&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://8ff2bb44-990f-4a51-93c5-125f9b00accd@77.110.127.191:9443?encryption=none&security=none&type=ws&path=%2Fpourya#%5B%F0%9F%8F%81%5Dreza%20hooshmandi
vless://3ccf9767-6648-4efa-b13c-1cdef021c371@5.75.196.174:8080?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.cloudflare.com&fp=chrome&pbk=qr9I7Hv2oZ2F0BiWgy9DmYHp0vcFEXcNRVHkyFg3OUw&sid=8fa9&spx=%2FahUXOMz6VtL0iNm&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca16.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B%F0%9F%87%AE%F0%9F%87%B9%5Dreza%20hooshmandi
vless://8ff2bb44-990f-4a51-93c5-125f9b00accd@77.110.127.191:9443?encryption=none&security=none&type=ws&path=%2Fpourya#%5B%F0%9F%8F%81%5Dreza%20hooshmandi
vless://4b616b6f-6f6c-4e65-7773-b8e2c9f3d541@20.103.221.187:443?encryption=none&security=tls&sni=stunning-giggle-xr5xpv59554jfrq9-443.app.github.dev&insecure=0&allowInsecure=0&type=ws&path=%2F#%5B%F0%9F%87%B3%F0%9F%87%B1%5Dreza%20hooshmandi
vless://3f3bb5cc-da8b-4551-8b76-ba223f1a5255@18.192.50.101:443?encryption=none&security=none&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://1b7e1467-36fe-44ed-9032-e4286f97b6c5@fastly-ip80.visionow.ir:80?encryption=none&security=none&type=ws&host=weather.ir&path=%2F#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://1b7e1467-36fe-44ed-9032-e4286f97b6c5@fastly-ip80.visionow.ir:80?encryption=none&security=none&type=ws&host=weather.ir&path=%2F#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://1b7e1467-36fe-44ed-9032-e4286f97b6c5@fastly-ip80.visionow.ir:80?encryption=none&security=none&type=ws&host=weather.ir&path=%2F#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://3f3bb5cc-da8b-4551-8b76-ba223f1a5255@18.192.50.101:443?encryption=none&security=none&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://4b616b6f-6f6c-4e65-7773-b8e2c9f3d541@20.103.221.187:443?encryption=none&security=tls&sni=stunning-giggle-xr5xpv59554jfrq9-443.app.github.dev&insecure=0&allowInsecure=0&type=ws&path=%2F#%5B%F0%9F%87%B3%F0%9F%87%B1%5Dreza%20hooshmandi
vless://3f3bb5cc-da8b-4551-8b76-ba223f1a5255@18.192.50.101:443?encryption=none&security=none&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
trojan://humanity@188.114.97.6:443?security=tls&sni=www.calmloud.com&insecure=0&allowInsecure=0&type=ws&host=www.calmloud.com&path=%2Fassignment#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://0c61d46d-4c4d-421b-b0fb-d211415da368@52.14.47.44:443?encryption=none&security=none&type=tcp&headerType=none#%5B%F0%9F%8F%81%5Dreza%20hooshmandi
vless://58b9bf91-2e03-4a35-afd7-ec422b07882d@45.130.125.160:443?encryption=none&security=tls&sni=sst.napsternetx.ir&fp=chrome&alpn=h2%2Ch3%2Chttp%2F1.1&insecure=0&allowInsecure=0&type=ws&host=sst.napsternetx.ir&path=%2F%3Fed%3D80#%5B%F0%9F%87%B8%F0%9F%87%A8%5Dreza%20hooshmandi
vless://3ccf9767-6648-4efa-b13c-1cdef021c371@5.75.196.174:20141?encryption=none&flow=xtls-rprx-vision&security=reality&sni=arvancloud.ir&fp=chrome&pbk=qr9I7Hv2oZ2F0BiWgy9DmYHp0vcFEXcNRVHkyFg3OUw&sid=14&spx=%2FfuyDxo1D1hIDYFH&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://a2c6ed21-1308-459a-b559-29554e34bd4e@104.253.74.8:33358?encryption=none&security=none&type=tcp&headerType=http#%5B%F0%9F%8F%81%5Dreza%20hooshmandi
vless://8449887d7cd055d06646951bc8bc2d08@185.193.28.212:443?encryption=none&security=tls&sni=crm.lotussec.com&insecure=0&allowInsecure=0&type=ws&host=crm.lotussec.com&path=%2F%40JavidnamanIran%2FJavid-SHAH-KingRezaPahlavi%2F#%5B%F0%9F%87%AB%F0%9F%87%B7%5Dreza%20hooshmandi
vless://fc965ad9-bdd7-4815-ad71-b39ec5972dc1@188.114.97.6:443?encryption=none&security=tls&sni=octopusss4.com&fp=chrome&alpn=h3%2Ch2%2Chttp%2F1.1&insecure=0&allowInsecure=0&type=ws&host=octopusss4.com&path=%2Ftsghdws#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://10484bee-8516-400a-9b1e-efb5144ad324@185.245.40.71:7443?encryption=none&flow=xtls-rprx-vision&security=reality&sni=stackoverflow.com&pbk=5QAO98ot2U7TcGs_f6EEaQjCzNOJLNHqPf6smYsdFVI&sid=d82fb387&type=tcp&headerType=none#%5B%F0%9F%87%B3%F0%9F%87%B1%5Dreza%20hooshmandi
vless://85dca508-15cc-43fc-8c35-8bc87c8a7858@fast.postshup.ir:8880?encryption=none&security=none&type=httpupgrade&host=cdn-pro3.postshup.ir&path=%2F#%5B%F0%9F%87%B8%F0%9F%87%A8%5Dreza%20hooshmandi
ss://YWVzLTI1Ni1nY206MzRmSXR5Wnl6Njl1SXJ4a0orY0xSMXBkY2x2RzYyOHB2OCtmelVOVElDMD0@it5.taskflowhub.org:2083?#%5B%F0%9F%87%AE%F0%9F%87%B9%5Dreza%20hooshmandi
vless://10484bee-8516-400a-9b1e-efb5144ad324@185.245.40.71:7443?encryption=none&flow=xtls-rprx-vision&security=reality&sni=stackoverflow.com&pbk=5QAO98ot2U7TcGs_f6EEaQjCzNOJLNHqPf6smYsdFVI&sid=d82fb387&type=tcp&headerType=none#%5B%F0%9F%87%B3%F0%9F%87%B1%5Dreza%20hooshmandi
vless://22c15b3f-e205-48e2-9b30-1a2c3480e7b2@45.130.125.160:80?encryption=none&security=none&type=ws&host=sRv79.hAMiIbaR.CoM&path=%2F#%5B%F0%9F%87%B8%F0%9F%87%A8%5Dreza%20hooshmandi
vless://afb3eb91-6ab7-4c70-874e-716e2481cb7d@blubank.ir:80?encryption=none&security=none&type=ws&host=vip.masterdadeh.ir&path=%2F%3FTELEGRAM-MARAMBASHI_MARAMBASHI_MARAMBASHI_MARAMBASHI_MARAMBASHI%3Fed%3D512#%5B%F0%9F%87%AE%F0%9F%87%B7%5Dreza%20hooshmandi
vless://1b7e1467-36fe-44ed-9032-e4286f97b6c5@fastly-ip80.visionow.ir:80?encryption=none&security=none&type=ws&host=weather.ir&path=%2F#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://356eee18-c496-4331-9fd9-d03f1aca81dd@217.114.40.35:29113?encryption=none&security=reality&sni=aws.amazon.com&fp=chrome&pbk=O022ghAvOsnRm9w68MKbfuyvlwWJsmytJBSj4F2dgkQ&sid=032e&spx=%2FjhS1SJCdAUQefS1&type=tcp&headerType=none#%5B%F0%9F%87%AE%F0%9F%87%B7%5Dreza%20hooshmandi
vless://1b7e1467-36fe-44ed-9032-e4286f97b6c5@fastly-ip80.visionow.ir:80?encryption=none&security=none&type=ws&host=cloudy.ir&path=%2F#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://1b7e1467-36fe-44ed-9032-e4286f97b6c5@fastly-ip80.visionow.ir:80?encryption=none&security=none&type=ws&host=cloudy.ir&path=%2F#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://63ec2a82-e47c-4782-a89e-9aca2baf17ef@188.114.97.6:443?encryption=none&security=tls&sni=quiz.int.vidio.com.ex33r.eu.cc&fp=chrome&insecure=0&allowInsecure=0&type=ws&host=quiz.int.vidio.com.ex33r.eu.cc&path=%2Fid-pusat#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://3ccf9767-6648-4efa-b13c-1cdef021c371@5.75.196.174:20141?encryption=none&flow=xtls-rprx-vision&security=reality&sni=arvancloud.ir&fp=chrome&pbk=qr9I7Hv2oZ2F0BiWgy9DmYHp0vcFEXcNRVHkyFg3OUw&sid=14&spx=%2FfuyDxo1D1hIDYFH&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://1b7e1467-36fe-44ed-9032-e4286f97b6c5@6bfe3ec8ab1c2f1c.vidasplayer.ir:1310?encryption=none&security=none&type=tcp&headerType=http&host=play.google.com&path=%2F#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://08b006dc-17e4-411d-9528-4369d72ad646@104.18.152.233:443?encryption=none&security=tls&sni=support.zoom.us.ex33r.eu.cc&insecure=0&allowInsecure=0&type=ws&host=support.zoom.us.ex33r.eu.cc&path=%2Fsg-melbi%23TELEGRAM-MARAMBASHI_MARAMBASHI_MARAMBASHI_MARAMBASHI_MARAMBASHI%3Fed%3D2560#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://d4f43a39-b95b-4bc0-966f-81fc4c28fe11@5.75.196.174:8080?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.cloudflare.com&fp=chrome&pbk=qr9I7Hv2oZ2F0BiWgy9DmYHp0vcFEXcNRVHkyFg3OUw&sid=5e11ecc7d4&spx=%2Fnew&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://63ec2a82-e47c-4782-a89e-9aca2baf17ef@188.114.97.6:443?encryption=none&security=tls&sni=quiz.int.vidio.com.ex33r.eu.cc&fp=chrome&insecure=0&allowInsecure=0&type=ws&host=quiz.int.vidio.com.ex33r.eu.cc&path=%2Fid-pusat%23TELEGRAM-MARAMBASHI_MARAMBASHI_MARAMBASHI_MARAMBASHI_MARAMBASHI%3Fed%3D2048#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://1b7e1467-36fe-44ed-9032-e4286f97b6c5@6bfe3ec8ab1c2f1c.vidasplayer.ir:1310?encryption=none&security=none&type=tcp&headerType=http&host=play.google.com#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
trojan://humanity@188.114.97.6:443?security=tls&sni=www.calmloud.com&insecure=0&allowInsecure=0&type=ws&host=www.calmloud.com&path=%2Fassignment#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://8ff2bb44-990f-4a51-93c5-125f9b00accd@77.110.127.191:9443?encryption=none&security=none&type=ws&path=%2Fpourya#%5B%F0%9F%8F%81%5Dreza%20hooshmandi
vless://8449887d7cd055d06646951bc8bc2d08@185.193.28.212:443?encryption=none&security=tls&sni=crm.lotussec.com&insecure=0&allowInsecure=0&type=ws&host=crm.lotussec.com&path=%2F%40JavidnamanIran%2FJavid-SHAH-KingRezaPahlavi%2F#%5B%F0%9F%87%AB%F0%9F%87%B7%5Dreza%20hooshmandi
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca26.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B%F0%9F%87%AE%F0%9F%87%B9%5Dreza%20hooshmandi
vless://58b9bf91-2e03-4a35-afd7-ec422b07882d@45.130.125.160:443?encryption=none&security=tls&sni=sst.napsternetx.ir&fp=chrome&alpn=h2%2Ch3%2Chttp%2F1.1&insecure=0&allowInsecure=0&type=ws&host=sst.napsternetx.ir&path=%2F%3Fed%3D80#%5B%F0%9F%87%B8%F0%9F%87%A8%5Dreza%20hooshmandi
vless://a2c6ed21-1308-459a-b559-29554e34bd4e@104.253.74.8:33358?encryption=none&security=none&type=tcp&headerType=http#%5B%F0%9F%8F%81%5Dreza%20hooshmandi
vless://8dc7722c-2767-4eea-a28b-2f8daacc07e3@sca26.myfymain.com:8880?encryption=none&security=none&type=grpc#%5B%F0%9F%87%AE%F0%9F%87%B9%5Dreza%20hooshmandi
vless://d4fefe96-0e5c-491d-9a1e-c7a1e2342edb@185.250.41.111:2083?encryption=none&security=none&type=ws&path=%2Fws#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://63ec2a82-e47c-4782-a89e-9aca2baf17ef@188.114.97.6:443?encryption=none&security=tls&sni=quiz.int.vidio.com.ex33r.eu.cc&fp=chrome&insecure=0&allowInsecure=0&type=ws&host=quiz.int.vidio.com.ex33r.eu.cc&path=%2Fid-pusat#%5B%F0%9F%87%A8%F0%9F%87%A6%5Dreza%20hooshmandi
vless://d4fefe96-0e5c-491d-9a1e-c7a1e2342edb@185.250.41.111:2083?encryption=none&security=none&type=ws&path=%2Fws#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://d4fefe96-0e5c-491d-9a1e-c7a1e2342edb@185.250.41.111:2083?encryption=none&security=none&type=ws&path=%2Fws#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
vless://d4f43a39-b95b-4bc0-966f-81fc4c28fe11@5.75.196.174:8080?encryption=none&flow=xtls-rprx-vision&security=reality&sni=www.cloudflare.com&fp=chrome&pbk=qr9I7Hv2oZ2F0BiWgy9DmYHp0vcFEXcNRVHkyFg3OUw&sid=5e11ecc7d4&spx=%2Fnew&type=tcp&headerType=none#%5B%F0%9F%87%A9%F0%9F%87%AA%5Dreza%20hooshmandi
